<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Clientes</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>

      <ion-menu-button>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/menu/clientes/novo" routerDirection="root" lines="none">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon> Novo
          </ion-item>
          <ion-item routerLink="/menu/clientes/alterar" routerDirection="root" lines="none">
            <ion-icon name="pencil-outline" slot="start"></ion-icon>Aualizar
          </ion-item>
          <ion-item routerDirection="root" lines="none">
            <ion-icon name="trash-outline" slot="start"></ion-icon>Excluir
          </ion-item>
        </ion-menu-toggle>
      </ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/pollosys-logo.png" alt="PolloSys" class="home-logo">
</ion-content>
