<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title color="primary">Clientes</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="incluirAlertForm()" class="btn-secondary">
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Todos" animated="true"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of [].constructor(10)" >
      <ion-label>
        <h2>Ana Cristina</h2>
        <h3>98158-8121</h3>
      </ion-label>
      <div>
        <ion-button class="btn-secondary" (click)="atualiziarForm()">
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
        <ion-button class="btn-danger" (click)="excluirAlertConfirm()">
          <ion-icon name="trash-sharp" color="light"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
