ion-button.btn-secondary {
    --background: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
}

ion-button.btn-danger {
    --background: var(--ion-color-danger);
    color: var(--ion-color-secondary-contrast);
}
