<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Clientes</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="ordenarAlertForm()">
        <ion-icon name="filter-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="refreshData()" size="small">
      <ion-icon name="refresh-sharp"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="incluirAlertForm()" color="primary">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-searchbar placeholder="Todos" (ionInput)="filterData($event)" clearInput></ion-searchbar>
  
  <div *ngIf="lista">
    <ion-list>
      <ion-item *ngFor="let cliente of lista; let idx = index" >
        <ion-label>
          <h2>{{cliente.pessoa.codigo}} - {{cliente.pessoa.razao_social}}</h2>
          <h3 *ngIf="cliente.pessoa.pessoa=='F'">P{{cliente.pessoa?.pessoa}}: {{cliente.pessoa?.documento | mask: '000.000.000-00'}}</h3>
          <h3 *ngIf="cliente.pessoa.pessoa=='J'">P{{cliente.pessoa?.pessoa}}: {{cliente.pessoa?.documento | mask: '00.000.000/0000-00'}}</h3> 
          <h3>{{cliente.pessoa?.telefone | mask: '(00)00000-0000'}}, {{cliente.pessoa?.email}}</h3>
        </ion-label>
        <div>
          <ion-button class="btn-secondary" (click)="loadModal(cliente, idx)">
            <ion-icon name="person-sharp"></ion-icon>
          </ion-button>
          <ion-button class="btn-danger" (click)="excluirAlertConfirm(idx)">
            <ion-icon name="trash-sharp" color="light"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <!-- Skeleton screen -->
<div *ngIf="!lista">
  <ion-list>
    <ion-item *ngFor="let x of [1,2,3,4,5,6,7,8]">
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
        <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
        <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>
