<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Clientes</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="filter-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="incluirAlertForm()" color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-searchbar placeholder="Todos" animated="true" [(ngModel)]="queryText" (ionInput)="filterCliente($event)" clearInput></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let cliente of clientes; let idx = index" >
      <ion-label>
        <h2>{{cliente.codigo}} - {{cliente.nome}}</h2>
        <h3>{{cliente.tipo}}: {{cliente.documento}}</h3>
        <h3>{{cliente.telefone}}, {{cliente.email}}</h3>
      </ion-label>
      <div>
        <ion-button class="btn-secondary" (click)="clienteModal(cliente, idx)">
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
        <ion-button class="btn-danger" (click)="excluirAlertConfirm(cliente, idx)">
          <ion-icon name="trash-sharp" color="light"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
