
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <form>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Código*</ion-label>
          <ion-input required type="text" name="codigo" [(ngModel)]="cliente.pessoa.codigo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nome*</ion-label>
          <ion-input required type="text" name="nome" [(ngModel)]="cliente.pessoa.razao_social"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Pessoa Física</ion-label>
          <ion-toggle name="tipo_pf" (ionChange)="tipoChangePf($event)" [(ngModel)]="tipoPf"></ion-toggle>
        </ion-item>
        
        <ion-item>
          <ion-label>Pessoa Jurídica</ion-label>  
          <ion-toggle name="tipo_pj" (ionChange)="tipoChangePj($event)" [(ngModel)]="tipoPj"></ion-toggle>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">CPF/CNPJ</ion-label>
          <ion-input required type="text" name="documento" [(ngModel)]="cliente.pessoa.documento"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Endereço</ion-label>
          <ion-input type="text" name="endereco" [(ngModel)]="cliente.pessoa.endereco"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Complemento</ion-label>
          <ion-input type="text" name="complemento" [(ngModel)]="cliente.pessoa.complemento"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Bairro</ion-label>
          <ion-input type="text" name="bairro" [(ngModel)]="cliente.pessoa.bairro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Cidade</ion-label>
          <ion-input type="text" name="cidade" [(ngModel)]="cliente.pessoa.cidade"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Estado</ion-label>
          <ion-input type="text" name="estado" [(ngModel)]="cliente.pessoa.estado"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Telefone</ion-label>
          <ion-input type="tel" name="telefone" [(ngModel)]="cliente.pessoa.telefone"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="cliente.pessoa.email"></ion-input>
        </ion-item>
      </ion-col>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="primary">Cancelar</ion-button>
      <ion-button (click)="submitForm()" color="primary">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>