.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
    
    img {
        height: 90px;
    }

    &.top {
        top: 5%;
    }
}

ion-header {
    display: none;
}

ion-slides {
    height: 100%;
    
    .slide-inner {
        width: 75%;
        color: #ffffff;
        background-color: #ff6600;
        border-radius: 10px;

        ion-item {
            --background: rgb(255, 255, 255, 0.2);
            --border-radius: 10px;
            ion-input {
                color: #ffffff;
            }
        }
    }
}