ion-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%)
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
    
    img {
        height: 90px;
    }
}


form {
    padding: 10px;
    height: 100%;
    margin-top:20%; 
    margin: 20% 15% 0 15%;
    width: 70%;
    color: #ffffff;
    background-color: #ff751a;
    border-radius: 10px;

    ion-item {
        --background: rgb(255, 255, 255, 0.2);
        --border-radius: 10px;
        ion-input {
            color: #ffffff;
        }
    }
}

ion-footer {
    color: var(--ion-color-primary);
    text-align: center;
    font-size: 12px;
}