<ion-header>
  <ion-toolbar>
    <ion-title>Acesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="swiper-no-swiping">
  <ion-grid fixed>
    <ion-row align-items-start class="ion-justify-content-center">
      <ion-col size-xs="4" size-md="4" size-lg="2">
        <img src="/assets/img/pollosys-logo.png" alt="PolloSys">
      </ion-col>
    </ion-row>
    
    <ion-row align-items-center class="ion-justify-content-between">
      <ion-col size-xs="0" size-md="1" size-lg="3">
      </ion-col>
      <ion-col size-xs="12" size-md="10" size-lg="6">
        <div class="container top" >
          <ion-segment (ionChange)="segmentChanged($event)" value="login">
            <ion-segment-button value="login">
              <ion-label>Login</ion-label>
            </ion-segment-button>
            <ion-segment-button value="esqueci">
              <ion-label>Esqueci Senha</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <ion-row align-items-center class="ion-justify-content-between">
          <ion-slides>
            <ion-slide>
              <div class="slide-inner ion-padding">
                <span>Login</span>

                <ion-item class="ion-margin-top" lines="none">
                  <ion-input type="email" placeholder="E-mail"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-top" lines="none">
                  <ion-input type="password" placeholder="Senha"></ion-input>
                </ion-item>

                <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
                  Entrar
                </ion-button>
              </div>
            </ion-slide>

            <ion-slide>
              <div class="slide-inner ion-padding">
                <span>Esqueci Senha</span>

                <ion-item class="ion-margin-top" lines="none">
                  <ion-input type="email" placeholder="E-mail"></ion-input>
                </ion-item>

                <ion-button class="ion-margin-top" (click)="esqueciSenha()" color="light" expand="block">
                  Enviar
                </ion-button>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </ion-col>
      <ion-col size-xs="0" size-md="1" size-lg="3">
      </ion-col>
    </ion-row>
    <ion-row align-items-end class="ion-justify-content-center">
    </ion-row>
  </ion-grid>
</ion-content>