<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Empresas</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="ordenarAlertForm()">
        <ion-icon name="filter-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="refreshData()" size="small">
      <ion-icon name="refresh-sharp"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="incluir()" color="primary">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-searchbar placeholder="Todos" (ionInput)="filterData($event)" clearInput></ion-searchbar>
  
  <div *ngIf="lista">
    <ion-list>
      <ion-item *ngFor="let empresa of lista; let idx = index" >
        <ion-thumbnail slot="start" *ngIf="empresa.imagem_url">
          <ion-img [src]="baseUrl + empresa.imagem_url"></ion-img>
        </ion-thumbnail>
        <ion-thumbnail slot="start" *ngIf="!empresa.imagem_url">
          <img [src]="logoDefault">
        </ion-thumbnail>
        <ion-label>
          <h2>{{empresa.nome}}</h2>
          <h3>{{empresa.responsavel}}</h3>
        </ion-label>
        <div>
          <ion-button class="btn-secondary" (click)="loadModal(empresa, idx)">
            <ion-icon name="briefcase-sharp"></ion-icon>
          </ion-button>
          <ion-button class="btn-danger" (click)="excluirAlertConfirm(idx)">
            <ion-icon name="trash-sharp" color="light"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <!-- Skeleton screen -->
<div *ngIf="!lista">
  <ion-list>
    <ion-item *ngFor="let x of [1,2,3,4,5,6,7,8]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>
