
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Condição de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <form [formGroup]="fGroup">
      <ion-col size="12">
        <ion-item>
          <ion-label color="primary" position="floating">Descrição*</ion-label>
          <ion-input type="text" maxlength="200" formControlName="descricao"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Número de Parcelas*</ion-label>
          <ion-input type="number" maxlength="3" formControlName="numero_parcelas"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Dia da Primeira Parcela*</ion-label>
          <ion-input type="number" maxlength="2" formControlName="dia_primeira_parcela"></ion-input>
        </ion-item>
      </ion-col>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="primary">Cancelar</ion-button>
      <ion-button (click)="submitForm()" color="primary" [disabled]="!fGroup.valid">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>