<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Motoristas</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="incluirAlertForm()" color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-searchbar placeholder="Todos" animated="true"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of [].constructor(1)" >
      <ion-label>
        <h2>Ana Cristina</h2>
        <h3>98158-8121</h3>
      </ion-label>
      <div>
        <ion-button class="btn-secondary" (click)="atualiziarForm()">
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
        <ion-button class="btn-danger" (click)="excluirAlertConfirm()">
          <ion-icon name="trash-sharp" color="light"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
