<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/private/home" routerDirection="root" lines="none" [class.active-item]="selectedPath === '/private/home'">
          <ion-icon name="home-sharp" color="primary" slot="start"></ion-icon> Home
        </ion-item>
      </ion-menu-toggle>
      
      <ion-item lines="none" (click)="isOpenCad? isOpenCad=false:isOpenCad=true" class="btn-menu">
        <ion-icon name="construct-sharp" color="primary" slot="start"></ion-icon>Cadastros<ion-icon slot="end" [name]="isOpenCad?'chevron-down-sharp':'chevron-forward-sharp'"></ion-icon>
      </ion-item>
      <ion-menu-toggle [hidden]="!isOpenCad" class="sub-menu">
        <ion-item [routerLink]="p.url" [class.active-item]="selectedPath === p.url" lines="none" *ngFor="let p of pages.cadastros">
          {{ p.title }}
        </ion-item>
      </ion-menu-toggle>

      <ion-item lines="none" (click)="isOpenCom?isOpenCom=false:isOpenCom=true" class="btn-menu">
        <ion-icon name="briefcase-sharp" color="primary" slot="start"></ion-icon>Comercial<ion-icon slot="end" [name]="isOpenCom?'chevron-down-sharp':'chevron-forward-sharp'"></ion-icon>
      </ion-item>
      <ion-menu-toggle [hidden]="!isOpenCom" class="sub-menu">
        <ion-item [routerLink]="p.url" [class.active-item]="selectedPath === p.url" lines="none" *ngFor="let p of pages.comercial">
          {{ p.title }}
        </ion-item>
      </ion-menu-toggle>

      <ion-item lines="none" (click)="isOpenFin?isOpenFin=false:isOpenFin=true" class="btn-menu">
        <ion-icon name="cash-sharp" color="primary" slot="start"></ion-icon>Financeiro<ion-icon slot="end" [name]="isOpenFin?'chevron-down-sharp':'chevron-forward-sharp'"></ion-icon>
      </ion-item>
      <ion-menu-toggle [hidden]="!isOpenFin" class="sub-menu">
        <ion-item [routerLink]="p.url" [class.active-item]="selectedPath === p.url" lines="none" *ngFor="let p of pages.financeiro">
          {{ p.title }}
        </ion-item>
      </ion-menu-toggle>

      <ion-item lines="none" (click)="isOpenSup?isOpenSup=false:isOpenSup=true" class="btn-menu">
        <ion-icon name="library-sharp" color="primary" slot="start"></ion-icon>Suprimento<ion-icon slot="end" [name]="isOpenSup?'chevron-down-sharp':'chevron-forward-sharp'"></ion-icon>
      </ion-item>
      <ion-menu-toggle [hidden]="!isOpenSup" class="sub-menu">
        <ion-item [routerLink]="p.url" [class.active-item]="selectedPath === p.url" lines="none" *ngFor="let p of pages.suprimentos">
          {{ p.title }}
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <div *ngIf="authService.usuario.is_admin">
          <ion-item routerLink="/private/empresas" routerDirection="root" lines="none" [class.active-item]="selectedPath === '/empresas'">
            <ion-icon name="briefcase-sharp" color="primary" slot="start"></ion-icon> Empresas
          </ion-item>
        </div>

        <ion-item routerLink="/private/notas-fiscais" routerDirection="root" lines="none" [class.active-item]="selectedPath === '/notas-fiscais'">
          <ion-icon name="logo-edge" color="primary" slot="start"></ion-icon> Notas Fiscais Eletrônicas
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item (click)="sairAlertConfirm()" routerDirection="root" lines="full" class="btn-sair btn-menu">
          <ion-icon name="power-sharp" color="primary" slot="start"></ion-icon>Sair
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>
